body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #A8BE99;
  color: #fff;
  text-align: center;
}

h1 {
  text-align: center;
   margin-top: 20px;
  border-style: double;
  border-width: 5px;
}

h2 {
  border-bottom: 2px solid;
  margin: 40px 0 20px 0;
}

div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

img {
  border: 3px solid;
  border-radius: 8px;
}

a {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #000;
  margin: 10px 0;
}


