<style>
h1 {
  background-color: coral;
  font-family: "Courier New", monospace;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: LightPink;
  border-style: double;
  border-width: 5px;
  font-family: "Courier New", monospace;
}

p {
  text-align: center;
  font-family: "Courier New", monospace;
}

img {
  border-style: solid;
  border-width: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style> 
